{{ $root := get . "root" }}
  name      = each.value
  image     = "{{ $root.ObjectExpand (dig "digitalocean/image" ($root.Param "digitalocean/image") .) }}"
  region    = "{{ $root.ObjectExpand (dig "digitalocean/region" ($root.Param "digitalocean/region") .) }}"
  size      = "{{ $root.ObjectExpand (dig "digitalocean/size" ($root.Param "digitalocean/size") .) }}"
  user_data = local.cloud_init_script
  tags      = [ {{ range $i, $p := $root.Machine.Profiles }}"{{lower $p}}",{{ end }}"DigitalRebar" ]

  # this plan does not create cluster SSH keys because of issues in the DO TF provider
  {{ if $root.ParamExists "digitalocean/key-fingerprints" }}
  # uploaded keys can be installed (these are not the cluster's ssh keys)
  ssh_keys = {{ $root.Param "digitalocean/key-fingerprints" | toJson }}
  {{ end }}

  # workaround problems with TF plan changing case of tags
  lifecycle {
    ignore_changes = [tags]
  }
