# Configure the Linode provider
terraform {
  required_providers {
    linode = {
      source = "linode/linode"
      version = ">= 1.28.0"
    }
  }
  required_version = ">= 1.0"
}

provider "linode" {
  token = "{{ .Param "linode/token" }}"
}

