#!/usr/bin/env bash
# Kubernetes Rebar Immutable Boot (KRIB) Install MetalLB
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

{{ template "download-tools.tmpl" .}}

# these need to be before krib-lib template
{{if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "krib/cluster-profile"}}
{{else -}}
xiterr 1 "Missing etcd/cluster-profile on the machine!"
{{end -}}

{{template "krib-lib.sh.tmpl" .}}

{{ if eq (.ParamExists "metallb/l2-ip-range") true -}}

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)

if [[ $MASTER_INDEX == 0 ]] ; then
  export KUBECONFIG=/etc/kubernetes/admin.conf

  download -o /tmp/metallb-namespace.yaml https://raw.githubusercontent.com/metallb/metallb/{{ .Param "krib/metallb-version" }}/manifests/namespace.yaml
  download -o /tmp/metallb.yaml https://raw.githubusercontent.com/metallb/metallb/{{ .Param "krib/metallb-version" }}/manifests/metallb.yaml

{{$port := .Param "metallb/monitoring-port"}}
  sed -i 's/prometheus.io\/port: "7472"/prometheus.io\/port: "{{$port}}"/' /tmp/metallb.yaml
  sed -i 's/- --port=7472/- --port={{$port}}/' /tmp/metallb.yaml
  sed -i 's/containerPort: 7472/containerPort: {{$port}}/' /tmp/metallb.yaml
{{$cpu := .Param "metallb/limits-cpu"}}
  sed -i 's/cpu: 100m/cpu: {{$cpu}}/' /tmp/metallb.yaml
{{$memory := .Param "metallb/limits-memory"}}
  sed -i 's/memory: 100Mi/memory: {{$memory}}/' /tmp/metallb.yaml

  {{ if .ParamExists "krib/metallb-container-image-controller" }}
  # Replace default container image with the one specified in "krib/metallb-container-image"
  sed -i 's|metallb/controller:master|{{ .Param "krib/metallb-container-image-controller" }}|' /tmp/metallb.yaml
  {{ end -}}

  {{ if .ParamExists "krib/metallb-container-image-speaker" }}
  # Replace default container image with the one specified in "krib/metallb-container-image"
  sed -i 's|metallb/speaker:master|{{ .Param "krib/metallb-container-image-speaker" }}|' /tmp/metallb.yaml
  {{ end -}}

  if [[ -n $(kubectl get namespaces | grep -w metallb-system) ]] ; then
    echo "Purging existing metallb install"
    kubectl delete -f /tmp/metallb.yaml
  else
    kubectl apply -f /tmp/metallb-namespace.yaml
  fi

{{$l2_ip_range := .Param "metallb/l2-ip-range"}}
  cat >/tmp/metallb-config.yaml <<EOFCONFIG
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: loadbalanced
      protocol: layer2
      addresses:
      - {{$l2_ip_range}}
EOFCONFIG

  kubectl apply -f /tmp/metallb.yaml
  kubectl apply -f /tmp/metallb-config.yaml
  if [[ -z $(kubectl get secrets -n metallb-system | grep memberlist) ]] ; then
    kubectl create secret generic -n metallb-system memberlist --from-literal=secretkey="$(openssl rand -base64 128)"
  fi
else
  echo "I was not the leader, skipping metallb install"
fi

echo "Finished MetalLB L2 deployment successfully"
{{ else if eq (.ParamExists "metallb/l3-ip-range") true -}}

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)

if [[ $MASTER_INDEX == 0 ]] ; then
  export KUBECONFIG=/etc/kubernetes/admin.conf

  download -o /tmp/metallb-namespace.yaml https://raw.githubusercontent.com/metallb/metallb/{{ .Param "krib/metallb-version" }}/manifests/namespace.yaml
  download -o /tmp/metallb.yaml https://raw.githubusercontent.com/metallb/metallb/{{ .Param "krib/metallb-version" }}/manifests/metallb.yaml

  # Replace references to "master" with the user-specified tag (if user has left the default at "master" this will have no effect)
  sed -i 's/speaker:master/speaker:{{ .Param "krib/metallb-version" }}/' /tmp/metallb.yaml
  sed -i 's/controller:master/controller:{{ .Param "krib/metallb-version" }}/' /tmp/metallb.yaml

{{$port := .Param "metallb/monitoring-port"}}
  sed -i 's/prometheus.io\/port: "7472"/prometheus.io\/port: "{{$port}}"/' /tmp/metallb.yaml
  sed -i 's/- --port=7472/- --port={{$port}}/' /tmp/metallb.yaml
  sed -i 's/containerPort: 7472/containerPort: {{$port}}/' /tmp/metallb.yaml
{{$cpu := .Param "metallb/limits-cpu"}}
  sed -i 's/cpu: 100m/cpu: {{$cpu}}/' /tmp/metallb.yaml
{{$memory := .Param "metallb/limits-memory"}}
  sed -i 's/memory: 100Mi/memory: {{$memory}}/' /tmp/metallb.yaml

  {{ if .ParamExists "krib/metallb-container-image-controller" }}
  # Replace default container image with the one specified in "krib/metallb-container-image"
  sed -i 's|metallb/controller|{{ .Param "krib/metallb-container-image-controller" }}|' /tmp/metallb.yaml
  {{ end -}}

  {{ if .ParamExists "krib/metallb-container-image-speaker" }}
  # Replace default container image with the one specified in "krib/metallb-container-image"
  sed -i 's|metallb/speaker|{{ .Param "krib/metallb-container-image-speaker" }}|' /tmp/metallb.yaml
  {{ end -}}

  if [[ -n $(kubectl get namespaces | grep -w metallb-system) ]] ; then
    echo "Purging existing metallb install"
    kubectl delete -f /tmp/metallb.yaml
  else
    kubectl apply -f /tmp/metallb-namespace.yaml
  fi

{{$l3_ip_range := .Param "metallb/l3-ip-range"}}
{{$l3_peer_address := .Param "metallb/l3-peer-address"}}

  cat >/tmp/metallb-config.yaml <<EOFCONFIG
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    peers:
    - peer-address: {{$l3_peer_address}}
      peer-asn: 64501
      my-asn: 64500
    address-pools:
    - name: default
      protocol: bgp
      avoid-buggy-ips: true
      addresses:
      - {{$l3_ip_range}}
EOFCONFIG

  kubectl apply -f /tmp/metallb.yaml
  kubectl apply -f /tmp/metallb-config.yaml
  if [[ -z $(kubectl get secrets -n metallb-system | grep memberlist) ]] ; then
    kubectl create secret generic -n metallb-system memberlist --from-literal=secretkey="$(openssl rand -base64 128)"
  fi
else
  echo "I was not the leader, skipping metallb install"
fi
{{else -}}
echo "No metallb/l2-ip-range or metallb/l3-ip-range, skipping install"
{{end -}}
exit 0
