#!/usr/bin/env bash
# /usr/local/bin/notify_drp.sh $HOSTNAME$ $HOSTADDRESS$ $HOSTSTATE$

{{template "setup.tmpl" .}}

MACHINE_NAME=$1
MACHINE_IP=$2
MACHINE_STATE=$3

if [[ ${MACHINE_STATE} == "DOWN" ]]; then
  drpcli alerts create --unique - >/dev/null <<EOF
---
Name: "Host Not Pingable From Endpoint: ${MACHINE_NAME}"
Contents: |
  Host down from drp endpoint.
Level: "ERROR"
Params:
  "alert/machine": "machines:${MACHINE_NAME}"
EOF
exit $?
fi

echo "Checking for UP"

if [[ ${MACHINE_STATE} == "UP" ]]; then
  echo "found up"
  drpcli alerts list "Name=Eq(Host Not Pingable From Endpoint: ${MACHINE_NAME})" 'Acknowledged=Eq(false)'  | jq '.[].Uuid' -r | while read alert ; do
    echo "alert found"
    drpcli alerts ack $alert
  done
  exit $?
fi

echo "Unhandled situation."
echo "DRP Host Alert failed. Script called with $@"

exit 1